{{!-- footer here --}}

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <span class="text-muted">All Content belongs to the NY Times Sports Department</span>
    <span class="text-muted"><a href="/articles-json">Article JSON Format</a></span>
  </div>
</footer>