<div class="row">
    <h1 class="col-12 text-center">Read the Latest Headlines in College Basketball</h1>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 text-left">
        {{#each article}}
            <div class="card-deck">
                <h5>{{this.title}}</h5>
                <a href="/readArticle/{{this._id}}" class="btn btn-dark" id="btnSignUp">Read Article</a>
            </div>
        {{/each}}
    </div>
</div>